
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
.frontpage{
    width:100%;
    min-height: 100vh;
    background-color: #2e3456;
    display: flex;
    justify-content: center;
    align-items: center;
    &__chartContainer{
      width: 50%;
    }
}